<!-- 
    Plugin Live server instalado no VSCode
    ! + Enter para aparecer a estrutura html
-->
<!DOCTYPE html>
<html lang="pt_br">

<!--
    Hipertext 

    Markup

    Language
-->
<head>
    <!-- aceita caracteres especiais -->
    <meta charset="UTF-8"> 

    <!-- para que caiba em telas diferentes -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Ecoleta</title>

    <!-- se atentar para a sequencia abaixo para nao haver sobrescrita -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/FrontEnd Projects/EColeta/public/styles/main.css">
    <link rel="stylesheet" href="/FrontEnd Projects/EColeta/public/styles/home.css">
    <link rel="stylesheet" href="/FrontEnd Projects/EColeta/public/styles/modal.css">

    <link rel="stylesheet" href="/FrontEnd Projects/EColeta/public/styles/responsive.css">
    

</head>
<body>
    <!-- #page-home-->
    <div id="page-home"> 

        <!-- class: permite reutilização de código  -->
        <div class="content"> 

            <header>
                
                <!-- caso arquivo não abra, ou não exista ele abre outro em 'alt' e funciona para leitura em voz alta para acessbilidade -->
                <img src="/FrontEnd Projects/EColeta/public/assets/logo.svg" alt="Logomarca"> 
                
                <!-- <h3 class="red">Ecoleta</h3> o red vem da classe red do css -->       
                <a href="/FrontEnd Projects/EColeta/src/views/create-point.html">

                    <!-- span está configurado na classe #page-home header span em main.css -->
                    <span></span>

                    Cadastre um ponto de Coleta
                
                </a> <!-- hiperlink --> 
    
            </header>
    
            <main>

                <h1>Seu Marketplace de Coleta de resíduos</h1>
        
                <p>Ajudamos pessoas a encontrar coletas de resíduos de forma eficiente!</p>   
                
                <a href="#"><span></span><strong> Pesquisar pontos de Coletas </strong> </a>

                <!-- <button>  </button>  inline  <a> clique </a> -->

            </main>
        </div> 
    </div>
        <div id="modal" class="hide"> 
            <!-- bug aqui teria que ter hide, desta forma 
                a pagina q aparece primeiro é a de busca -->
                
            <div class="content">
                <div class="header">
                    <h1>Pontos de Coleta</h1>
                    <a href="#">Fechar</a>
                </div>
                <form action="/FrontEnd Projects/EColeta/src/views/search-results.html">
                    <label for="search">Cidade</label>
                    <div class="search field">
                        <input 
                        type="text" 
                        name="search"
                        placeholder="Pesquise por Cidade"
                        >
                        <button>
                            <img src="/FrontEnd Projects/EColeta/public/assets/search.svg" alt="Buscar">
                        </button>
                    </div>
                </form>
            </div>
        </div>
    
    
    <script src="/FrontEnd Projects/EColeta/public/scripts/index.js"></script>

</body>
</html>