nav.navbar.navbar-expand-lg.navbar-light {
    margin: 1rem;
    background-color: #343a40;
    box-shadow: inset 0 0 10px #000000;
    }

a.nav-item.nav-link {
    font-weight: bold;
    text-shadow: 0 1px 1px black;
}
nav > div:nth-child(1) {
    padding-bottom: .3rem;
}
.navbar{

    height: 80px;
    font-size: 1.2rem;
}
.navbar-brand-left,
.navbar-brand-right  {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    padding: 15px;
    border-width: .5px;
    border-style: inset;
    background-color: #242424;
    border-radius: 20%;
    font-family: 'Verdana';
    font-size: 17px;
    font-weight: bolder;
    color: #525252;
    border-width: 2px;
    text-shadow: 1px 1px 1px #919191,1px 1px 1px #919191,1px 15px 6px rgba(16, 16, 16, 0.4),1px 19px 10px rgba(16, 16, 16, 0.2),1px 21px 35px rgba(16, 16, 16, 0.2),1px 30px 60px rgba(16, 16, 16, 0.4);
}

