<nav class="navbar navbar-expand-lg navbar-light">
  <div>
    <div class="navbar-brand-left">Hora </div>
    <div class="navbar-brand-right">Fácil </div>
</div>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a class="nav-item nav-link active text-secondary" routerLink="/data-hora-atual">Data hora atual</a>
      <a class="nav-item nav-link text-secondary" routerLink="/cronometro">Cronômetro 1</a>
      <a class="nav-item nav-link text-secondary" routerLink="/cron">Cronômetro 2</a>
    </div>
  </div>
</nav>


