#page-home {

    /* ajusta medida da imagem abaixo em vh (Viewport Height) vai pegar a altura total da pagina  */
    height: 100vh;                      
    
     /* ../  função q puxa o path */
    background: url('../assets/home-background.svg') no-repeat; 
   
    /* Viewport Widh vai pegar a largura total da pagina */
    
   
}


#page-home .content {  
    /* cuidado com os espaços, se nao tiver um espaço atras do ponto, não funcionará */                 
    
    /* ajusta todo conteúdo à 90% da página*/
    width: 90%;   
    
    /* vai até 1100 pixels */
    max-width: 1100px; 

    /* 
    ou pode ser feito igual abaixo: 

    margin: auto;                    
    margin-left: auto;               
    margin-right: auto; 
    margin-bottom: auto; 

    */
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#page-home header {
    
    /* cria uma 'grade' para colocar itens um ao lado do outro no header */
    margin-top: 48px;

    /* alinha os dois itens colocados ao lado no header */
    display: flex;        
    
    /* movimenta o segundo item para extremidade seguindo a expansão de janela */
    align-items: center;   

    justify-content: space-between;     

}

#page-home header a {
    
    /* puxa variável em :root */
    display: flex;

    color: var(--title-color);          
    font-weight: 700;

    /* tira a linha em baixo que vem default */
    text-decoration: none;              
}

/* referencia a <header>  e o bloco <a href> <\a>*/
#page-home header a span {              
    
    margin-right: 16px;
    background-image: url(../assets/log-in.svg);
    display: flex;
    width: 20px;
    height: 20px;
}

#page-home main {

    max-width: 560px;   

    /* preenche automaticamente todo espaço q existir */
    flex: 1;
    /*height: 600px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-home main h1 {

    font-size: 54px;

    /* puxa variável em :root */
    color: var(--title-color); 
}

#page-home main p {
    
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}

#page-home main a {
    
    width: 100%;
    max-width: 360px;
    height: 72px;
    border-radius: 8px /*25px*/;
    display: flex;
    align-items: center;
    margin-top: 40px;
    background: var(--primary-color);
    transition: 400ms;
    /* font-weight: bold; */
    /* color: white; */

}

/* aplica estilização especial */
#page-home main a:hover { 

    /* faz a cor ficar um pouco mais escura se o cursor aproxima */
    background-color: #2fb86e;
}

/* a span: quadrado verde escuro dentro do botão */
#page-home main a span {
    width: 72px;
    height: 72px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgba(0,0,0,0.08);
    display: flex;
    align-items: center;
    justify-content: center;
}


#page-home main a span::after {
    content: "";
    background-image: url(../assets/search.svg);
    width: 20px;
    height: 20px;
    
}

#page-home main a strong {
    flex: 1;
    color: white;
    text-align: center;
}
