/* Box Model 
   
    Modelo de caixa
    
    Toda caixa tem:
        Largura
        Altura 
        Espaçamentos
        Preenchimentos
        Bordas
        Cor
    Maneira q é vista pelo html <display>

*/


/* referencia à raiz do documento pode ser repetidas em formatos de variáveis */
:root {                                   
    
    /* atalho para cor */
    --title-color: #322153;    
    --primary-color: #34cb79;
    box-sizing: border-box;
}

/* referencia todos os seletores */
* {                                       
    
    margin: 0;
    padding: 0;
}

/* referencia tudo que é html */
html{
    font-family: Roboto, sans-serif;
}

body { 

    /* uso do RGB hexadecimal onde 00 é sem cor e ff é a cor mais vermelha que existir*/
    background: #f0f0f5;  
    -webkit-font-smoothing: antialiased;            
}

a {                                       
    /* torna o bloco <a> </a> global */
    text-decoration: none;
}

/* para todos os 'h' */
h1, h2, h3, h3, h4, h5, h6 {
    font-family: Ubuntu, sans-serif;
    color: var(--title-color);
}



/* cria função de colorir o fundo (não está sendo usado, mas está aqui como exemplo) */
.red {                         
    background-color: red;
}

