<div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">Resultado</th>
        <td>Situação</td>
      </tr>

      <tr>
        <th scope="row">Abaixo de 18,5</th>
        <td>Abaixo do peso ideal</td>
      </tr>
      <tr>
        <th scope="row">Entre 18,5 e 24,9</th>
        <td>Peso ideal</td>
      </tr>
      <tr>
        <th scope="row">Entre 25,0 e 29,9</th>
        <td>Sobrepeso</td>
      </tr>

      <tr>
        <th scope="row">Entre 30 e 34,9</th>
        <td>Obesidade Grau I</td>
      </tr>

      <tr>
        <th scope="row">Entre 35,0 e 39,9</th>
        <td>Obesidade Grau II</td>
      </tr>

      <tr>
        <th scope="row">Entre 40 acima</th>
        <td>Obesidade Grau III</td>
      </tr>
    </tbody>
  </table>
</div>
