
svg.bi.bi-flower1 {
    margin-right: 50px;
    color: whitesmoke;
 }

h3 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: monospace;
    color: rgb(43, 43, 68);
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
}

h3 span {
    font-family: 'Permanent Marker', cursive;
    color: rgb(150, 46, 46);
}

h5 {
    color: rgb(70, 70, 70);
    font-family: monospace;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);

}
/* 
body>div {
    margin-top: 50px;
    display: flex;
    justify-content: center;

} */

html body div form div {
    display: flex;
    justify-content: center;
    align-items: center;

}

html body div form button {
    width: 20vw;
    margin-top: 60px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    

}	

form {
    margin-left: 25%;
    margin-right: 25%;
    font-weight: bold;
    color:#343a40 ;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
}

html body div form input {
    width: 100%;
    background-color: #343a40 ;
    color: white;
    padding: 14px 10px;
    border: none;
    border-radius: 4px;
    cursor: text;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);

}


#dep {
    border-width: 0px;
    width: 100%;
    height: 55px;
    background: rgb(70, 70, 70);
    margin-top: 8px;
    margin-bottom: 25px;
    color: rgb(199, 199, 199);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);

}

html body div.container-fluid div.row div.col-md-12 div form label {
    margin-top: 5%;
}



