<div class="teste">
  <div class="row text-white lg-4 md-6 sm-8">
    <div class="col-12">
      Goiânia, {{dataFormatada}} <br /> <hr>{{mensagem}}
    </div>
  </div>
  <div class="sm-4">
    <div class="grid__container">
      <div class="grid__row">
        <div class="grid__col sm-4 md-4 bg-4">{{horaFormatada}}</div>
        <div class="grid__col sm-4 md-4 bg-4">{{doisPontos}}</div>
        <div class="grid__col sm-4 md-4 bg-4">{{minutosFormatados}}</div>
      </div>
    </div>
  </div>
</div>

