// Grid System SCSS
//params

$grid-width: 100%;
$grid-gutter-vertical: -2rem;
$text-shadow-3d: 1px 1px 1px #919191,1px 1px 1px #919191,1px 14px 6px rgba(16, 16, 16, 0.4),1px 16px 10px rgba(16, 16, 16, 0.2),1px 19px 35px rgba(16, 16, 16, 0.2),1px 30px 60px rgba(16, 16, 16, 0.4);

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(153, 153, 153, 0), rgba(153, 153, 153, 0.75), rgba(153, 153, 153, 0));
}

//Container
.grid__container {
  height: 100px;
  max-width: $grid-width;

  &:not(:last-child) {
    margin-bottom: $grid-gutter-vertical;
  }
}
//Row
.grid__row {
  display: flex;
  justify-content: center;
  border-spacing: 5rem;
  column-gap: 18px;
}

div.row.text-white {
  margin-top: 80px;
  background: #343a40 ;
  font-weight: bold;
  font-family: 'Verdana';
  height: 1px;
  text-align: center;
  text-shadow: 3px 3px #1f1f1fda;
  color: #858585;
  font-size: 25px;
}


div.col-12 {
  color: #858585;
  font-size: 25px;
}

//Column
[class^="grid__col"] {
  border-radius: 30%;
  font-family: 'Verdana';
  font-size: 20px;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  width: 50px;
  height: 50px;
  color: #525252;
  background-color: #252525;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-shadow: $text-shadow-3d;
  box-shadow: 0 2px 3px -2px rgba(151, 151, 151, 0.829);

}
